<form action="#" method="post" class="autorisation">
    <input type="text" placeholder="Login" required name="login" class="login"> <br>
    <input type="password" placeholder="password" required name="password" class="pass"> <br>
    <input type="submit" value="LogIn">
</form>