{% autoescape false %}
<div class="counters" id="mainCounters">
    <form action="#" method="post">
    {{ counters }}
</div>
<div class="owner" id="mainOwner">
    {{ owners }}
</div>
<div class="inputForm" id="mainInput">
    {% include 'mainInput.twig' %}
</div>
<div class="requests" id="mainRequest">
    {% include 'mainRequest.twig' %}
</div>
<div class="writeJournal" id="mainJournal">
    <h4>Последние введеные показания</h4>
    {% include 'mainJournal.twig' %}
</div>
<div class="comment" id="comment">
    {% include 'mainComments.twig' %}
</div>
{% endautoescape %}