<h4>Собственник</h4>
 <img src="images/sob.png" alt="имя"> <span>{{ fio }}</span><br>
<img src="images/tel.png" alt="телефон"><span>{{ phone }}</span><br>
<img src="images/money.png" alt="сумма"><span> {{ money }} руб. на: <span class="time">{{ date }}</span></span><br>