<h4>Собственник</h4>
 <img src="images/sob.png" alt="имя"> <span>Bvz</span><br>
<img src="images/tel.png" alt="телефон"><span>Bvz</span><br>
<img src="images/money.png" alt="сумма"><span>Bvz</span><br>