<table>
    <tr>
        <td>Дата</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td>ХВС</td>
        <td>ГВС</td>
        <td>ХВС2</td>
        <td>ГВС2</td>
        <td>Т1</td>
        <td>Т2</td>
        <td>Кто записал</td>
        <td>Основание</td>
    </tr>
</table>