<span>
    <select name="osnovanie">
        <option value=""></option>
        <option value="Телефон">Телефон</option>
        <option value="Телефон">Телефон</option>
        <option value="Телефон">Телефон</option>
        <option value="Телефон">Телефон</option>
        <option value="Телефон">Телефон</option>
        <option value="Телефон">Телефон</option>
    </select>
от <input type="text" name="date" value="дата"> <br>
Ф.И.О. <input type="text" name="FIO" value="Имя">
Телефон <input type="text" name="phone" value="Телефон">
Кто внес <input type="text" name="autor" value="Автор">
<br>
</span>
<input type="submit" value="Внести показания">
<input type="hidden" name="inputFlag" value="true">
</form>