<h4>Заявки</h4>
<table>
    <tr>
        <td>Статус</td>
        <td>Дата</td>
        <td>Отдел</td>
        <td>Текст</td>
        <td>Перейти <br> к заявке</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>