<details>
    <summary style="border: 1px solid grey; background-color:lightgreen; min-width: 200px">Комментарии</summary>
    <form action="index.php" method="post">
        <input type="hidden" name="flat" value="{{ flat }}">
        <input type="hidden" name="house" value="{{ house }}">
        <input type="hidden" name="isNull" value="{{ commentCheck }}">
        <input type="hidden" name="addComent" value="true">
        <textarea name="text" id="commentArea">тут будет коментарий</textarea>
        <br>
        <input type="submit" value="Добавить комментарий">
    </form>
    </div>
</details>